html, body {
  height: 100%;
  margin: 0px;
}

.fixed_button {
  position: fixed;
  right: 2%;
  z-index: 9999;
}

.sidenav-float {
  z-index: 9998;
}

.fa-bars {
  color: white;
}

.title-section {
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


.title-section::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../images/ubuntu.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.profile-section {
  min-height: 75%;
  position: relative;
  background-color: #f9f9f9;
  padding: 0px 50px 50px 50px;
}

.profile_image {
  border-radius: 50%;
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:10px;
  border-style: solid;
  border-color: #e8e8e8;
}

.section-subhead {
  color: #17a7b5;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.experience-section {
  min-height: 100%;
  background-color: #e8e8e8;
  position: relative;
  padding: 0px 50px 50px 50px;
  height: auto;
}

.exp-description {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-section {
  height: auto;
  background-color: #f9f9f9;
  opacity: 0.75;
  padding: 5px 50px 50px 50px;
}

.projects-section {
  height: auto;
  background-color: #e8e8e8;
  opacity: 0.75;
  padding: 5px 50px 50px 50px;
}

.contact-section {
  height: auto;
  background-color: #627624;
  opacity: 0.65;
  text-align: center;
  padding: 5px 50px 50px 50px;
}

h1 {
  color: white;
}

.body-text {
  font-size: 15px;
  text-align: center;
  font-family: Helvetica;
}

.sub-header {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: Georgia;
}

.img-fluid {
  max-width: 75%;
  height: auto;
}

.jumbotron {
  background: rgb(200, 54, 54);
  background: rgba(200, 54, 54, 0);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.carousel {
  min-height: 85%;
  width: 100%;
  z-index: 1000;
}

.carousel-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.section_header {
  text-align: center;
  transform: translateY(15%);
  position: relative;
  padding: 0px 0px 10px 0px;
  color: #17a7b5;
}

.profile_header_size {
  height: 20%;
}

.exp_circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
  max-width:100%;
  max-height:100%;
}

@media only screen and (max-device-width: 480px) {
      .hide-mobile {
        display: none;
      }
}

.line {
  font-size: 25px;
}

.break_line {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.display-5 {
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 1.1;
  color: #1c1c1c;
}

.info_line {
  font-size: 1rem;
  font-weight: 300;
}
