html, body {
  height: 100%;
  margin: 0px;
  width: 100%;
}

h1 {
  color: white;
}


.md-sidenav-right a {
  color: #f9f9f2;
}

.sidenav {
  /*background-color: #69f0ae;*/
  background-color: #17a7b5;
}

.sidenav-float {
  z-index: 9998;
}

.list-border {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #f9f9f2;
}

a.nav_link {
  color: #f9f9f2;
}

a.nav-link:hover {
  color: #141414;
}

.fixed-button {
  position: fixed;
  right: 1%;
  z-index: 9999;
  color: white;
}

.title-section {
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.title-section::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.jumbotron {
  background: rgb(200, 54, 54);
  background: rgba(200, 54, 54, 0);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.profile-section {
  min-height: 75%;
  position: relative;
  background-color: #f9f9f9;
  padding: 0px 50px 50px 50px;
}

.section-header {
  text-align: center;
  transform: translateY(15%);
  position: relative;
  padding: 0px 0px 10px 0px;
  color: #17a7b5;
}

.section-subhead {
  color: #17a7b5;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.profile-image {
  border-radius: 50%;
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:10px;
  border-style: solid;
  border-color: #e8e8e8;
}

.experience-section {
  min-height: 100%;
  background-color: #e8e8e8;
  position: relative;
  padding: 0px 50px 50px 50px;
  height: auto;
}

.card {
  background-color: #f7f7f7;
  height: 33rem;
}

.card-exp-heading {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.1;
  vertical-align: bottom;
  color: #141414;
}

.card-exp-tagline {
  color: #141414;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.card-exp-subheadline {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.1;
  vertical-align: bottom;
  color: #17a7b5;
}
.card-body {
  color: #141414;
}

.card-exp-line {
  padding: 0px;
  margin: 0px;
}

.exp-circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
  max-width:100%;
  max-height:100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.line {
  font-size: 1.5em;
}

.break-line {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.info-line {
  font-size: 1rem;
  font-weight: 300;
}

a.exp-line {
  text-decoration: none !important;
  color: black;
}

a.exp-line:hover {
  text-decoration: none !important;
  color: #17a7b5;
}

.skills-section {
  height: auto;
  background-color: #f9f9f9;
  position: relative;
  padding: 0px 50px 50px 50px;
}

.light-up:hover{
  background-color: rgba(23,161,185,0.3);
}

.projects-section {
  height: auto;
  background-color: #e8e8e8;
  position: relative;
  padding: 0px 50px 50px 50px;
}

.projects-section .card {
  background-color: #f7f7f7;
  height: 15rem;
  overflow: hidden;
}

.projects-section .card:hover {
  display: grid;
  background-color: rgba(23,161,185,0.3);
}

.card-heading {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.1;
  color: #141414;
}

.card-block {
  color: #f9f9f9;
}

.contact-section {
  height: auto;
  background-color: #f9f9f9;
  position: relative;
  text-align: center;
  padding: 0px 50px 50px 50px;
}

a.contact-links {
  color: #141414;
  text-decoration: none !important;
  text-align: left;
}

a.contact-links:hover {
  color: #17a7b5;
}

@media only screen and (max-device-width: 575px) {
      .hide-mobile {
        display: none;
      }

      .card {
        height: auto;
      }

      .projects-section .card {
        background-color: #f7f7f7;
        height: auto;
        overflow: hidden;
      }
}
